@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --l_grey:  hsl(217, 12%, 63%);
    --m_grey: hsl(216, 12%, 54%);
    --d_blue: hsl(213, 19%, 18%);
    --dark: hsl(216, 12%, 8%);
}
body{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rating-page, .thank-you-page{
    max-width: 350px;
    width: auto;
    height: auto;
    min-height: 350px;
    border-radius: 30px;
    background: radial-gradient(at top, hsl(217, 18%, 17%), hsl(215, 30%, 11%));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px;
    margin: 0 20px;
}
.star-container{
    max-width: 100%;
    width: 50px;
    height: 50px;
    max-height: 100%;
    border-radius: 50%;
    background-color: var(--d_blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container h1{
    color: var(--white);
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.text-container p{
    color: var(--l_grey);
    line-height: 26px;
    margin: 0;
}
.options-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.option{
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.option .front{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 17px;
    color: var(--m_grey);
    transition: 0.2s;
    background-color: var(--d_blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.option input:hover ~ .front{
    background-color: var(--orange);
    color: var(--white);
}
.option input:checked ~ .front{
    background-color: var(--m_grey);
    color: var(--white);
}
.submit{
    background-color: var(--orange);
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
.submit:hover{
    background-color: var(--white);
    color: var(--orange);
}
.hidden{
    display: none;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection{
    margin: 30px auto;
    text-align: center;
    display: block;
}
.selection span{
    color: var(--orange);
    background-color: var(--d_blue);
    padding: 6px 20px;
    border-radius: 30px;
}
.text h1{
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
}
.text p{
    text-align: center;
    color: var(--l_grey);
    padding: 0 4px;
}
footer{
    margin-top: 2rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--m_grey); } 

@media screen and (max-width: 395px){
    .option{
        width: 40px;
        height: 40px;
    }
    body{
        font-size: 13px;
    }
}